@import "tailwindcss";

dialog::backdrop {
  background: rgba(255, 255, 255, 0.4); /* light white-ish tint */
  backdrop-filter: blur(8px); /* stronger blur */
  -webkit-backdrop-filter: blur(8px); /* for Safari */
}
dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 50;
  border: none;
  background-color: white;
  color: black;
}

.my-quill .ql-editor {
  min-height: 200px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
